html {
    font-size: 100%;
}

body {
    color: #121212;
    font-size: 0.9rem;
    line-height: 1.7;
}

main {
    max-width: 100%;
}

.sec-title{
    text-align: center;
    font-size: 2.25rem;
    margin-bottom: 30px;
    padding-top: 80px;
}

/* header */
#header .shoes-title{
    width: 100%;
    height: 90px;
    position: fixed;
    background-color: #fff;
    margin: 0;
    top: 0;
    left: 0;
}

nav {
    display: block;
    width: 220px;
    position: fixed;
    background-color: #ffffff;
    top: 0;
    left: -300px;
    bottom: 0;
    transition: all 0.5s;
    z-index: 3;
    opacity: 0;
}

nav .nav-menu{
    padding: 25px;
}

nav .nav-menu ul {
    margin: 0;
    padding: 0;
}

nav .nav-menu ul li {
    list-style: none;
    margin: 0;
    border-bottom: 1px solid #333;
}

nav .nav-menu ul li a {
    display: block;
    text-decoration: none;
    font-size: 14px;
    color: #121212;
    padding: 1rem;
    transition-duration: 0.2s;
}

nav .nav-menu ul li a:hover {
    background-color: #e4e4e4;
}

.toggle-btn {
    display: block;
    position: fixed;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    z-index: 3;
    cursor: pointer;
}

.toggle-btn span {
    position: absolute;
    display: block;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #333;
    transition: all 0.5s;
    border-radius: 4px;
}

.toggle-btn span:nth-child(1) {
    top: 4px;
}

.toggle-btn span:nth-child(2) {
    top: 14px;
}
.toggle-btn span:nth-child(3) {
    bottom: 4px;
}

#mask {
    display: none;
    transition: all 0.5s;
}

/* main */
#video {
    width: 100%;
}

.video-loop {
    width: 100%;
}


/* pick up */
.pick-pict {
    width: 100%;
    padding: 0;
    display: flex;
    overflow: hidden;
}

.pick-pict li:first-child{
    -webkit-animation: loop 20s -10s linear infinite;
    animation: loop 20s -10s linear infinite;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: transform;
}

.pick-pict li{
    -webkit-animation: loop2 20s linear infinite;
    animation: loop2 20s linear infinite;
}

@keyframes loop {
    0% {
      -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }
  
  @keyframes loop2 {
    0% {
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
    }
    to {
      -webkit-transform: translateX(-200%);
      -ms-transform: translateX(-200%);
      transform: translateX(-200%);
    }
  }
  

.pick-pict img{
    width: 350px;
    height: 200px;
    object-fit: cover;
    padding: 0 30px 0 30px;
}

/* brand */
.brand-pict {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1420px;
    margin: auto;
    padding-bottom: 30px;
    gap: 20px;}

.brand-pict img {
    width: 450px;
    height: 300px;
    object-fit: cover;
}

.brand-text {
    box-shadow: 0 0 8px 4px #ccc;
}

.brand-content {
    display: block;
}

/* contact */
#contact {
    width: 100%;
    height: 740px;
    background-color: #121212;
    color: #fff;
}

.contact-area {
    display: flex;
    justify-content: space-around;
    margin: 70px;
    padding: 55px;
}

.contact-form {
    width: 50%;
    margin-left: 70px;
}

.description {
    width: 50%;
    margin-left: 70px;
}

.desc-top {
    padding-bottom: 30px;
}

.desc-center {
    width: 700px;
    padding-bottom: 30px;
}

.desc-under {
    width: 700px;
    padding-bottom: 30px;
}

.contact-text {}

.contact-text #name {
    width:70%;
    height: 35px;
}

.text-name {
    padding-bottom: 25px;
    margin: 0;
}

.contact-text #email {
    width:70%;
    height: 35px;
}

.text-email {
    padding-bottom: 25px;
    margin: 0;
}

.contact-text #message {
    width:70%;
    height: 70px;
}

.text-message {
    padding-bottom: 25px;
    margin: 0;
}

#btn {
    width: 25%;
    height: 55px;
    background-color: #121212;
    color: #fff;
    border: solid 1px #fff;
    font-size: larger;
}

#footer {
    background-color: #121212;
    color: #fff;
    text-align: center;
}

.footer-title {
    margin-top: auto;
}